ENVIRONMENT=development
APIGEE_AI_GATEWAY_URL=https://my-apigee-org-eval.apigee.net/ai
APIGEE_TOOLS_GATEWAY_URL=https://my-apigee-org-eval.apigee.net/tools
APIGEE_API_KEY=CHANGEME
DEFAULT_MODEL=gemini-3.1-flash-lite
