ENVIRONMENT=development
APIGEE_AI_GATEWAY_URL=https://my-apigee-org-eval.apigee.net/ai
APIGEE_TOOLS_GATEWAY_URL=https://my-apigee-org-eval.apigee.net/tools
APIGEE_API_KEY=my-enterprise-apigee-key
DEFAULT_MODEL=gemini-1.5-flash
